In [6]:

import pandas as pd

In [21]:
df=pd.read_csv("boston_house_prices.csv")
df.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,House_price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [37]:
df.shape

(506, 14)

In [25]:
inputdata=df.iloc[:,:-1]
outputdata=df["House_price"]

In [31]:
from sklearn.model_selection import train_test_split

In [33]:
  x_train,y_train,x_test,y_test = train_test_split(inputdata,outputdata,test_size=0.25)

In [41]:
x_train.shape

(379, 13)

In [45]:
x_test.shape

(379,)